@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Thin-FD.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Normal-FD.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Medium-FD.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  direction: rtl;
  font-family: "Vazirmatn", sans-serif;
  @apply bg-background;
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #dde7dd inset !important;
  -webkit-text-fill-color: #6d4c3d !important;
}

input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
  background-color: #dde7dd !important;
  color: #6d4c3d !important;
}

input:-ms-input-autofill,
input:-ms-input-autofill:hover,
input:-ms-input-autofill:focus,
input:-ms-input-autofill:active {
  background-color: #dde7dd !important;
  color: #6d4c3d !important;
}
