@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Thin-FD.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Normal-FD.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Medium-FD.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  direction: rtl;
  font-family: "Vazirmatn", sans-serif;
  @apply bg-background dark:bg-darkBrown;
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #dde7dd inset !important;
  -webkit-text-fill-color: #6d4c3d !important;
}

input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
  background-color: #dde7dd !important;
  color: #6d4c3d !important;
}

input:-ms-input-autofill,
input:-ms-input-autofill:hover,
input:-ms-input-autofill:focus,
input:-ms-input-autofill:active {
  background-color: #dde7dd !important;
  color: #6d4c3d !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #50382d inset !important;
  -webkit-text-fill-color: #dde7dd !important;
}

.dark input:-moz-autofill,
.dark input:-moz-autofill:hover,
.dark input:-moz-autofill:focus,
.dark input:-moz-autofill:active {
  background-color: #50382d !important;
  color: #dde7dd !important;
}

.dark input:-ms-input-autofill,
.dark input:-ms-input-autofill:hover,
.dark input:-ms-input-autofill:focus,
.dark input:-ms-input-autofill:active {
  background-color: #50382d !important;
  color: #dde7dd !important;
}

/* file upload button */
input[type="file"] {
  @apply text-xs leading-5;
}

input[type="file"]::file-selector-button {
  @apply ml-1.5 cursor-pointer rounded border border-brown bg-transparent text-xs dark:border-background dark:text-background;
}

/* Custom checkbox styles */
.custom-checkbox {
  @apply h-[18px] w-[18px] cursor-pointer appearance-none rounded-md border-2 border-brown bg-contain bg-center checked:bg-brown checked:bg-[url('/icons/tick-icon-white.svg')] focus:ring-0 disabled:cursor-default disabled:opacity-80 dark:border-background dark:checked:bg-background dark:checked:bg-[url('/icons/tick-icon.svg')];
}

/* Hide spinners for number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
